@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9B4BE, #F2CED8);
}

main {
    background-color: white;
    /* arredondar as pontas */
    border-radius: 10px;
    /* sombras */
    box-shadow: 5px 5px 15px #7326346c;
    /* largura */
    width: 600px; 
    /* acolchoamento (espacinho nas bordas*/
    padding: 10px;
    /* centralizar */
    margin: auto;
   
}

h1 {
    color: #732634;
    text-align: center;
    text-shadow: 1px 1px 1px #68232f;
}

h2 {
    color: #FAACC4;
}
p {
    text-align: justify;
}

